<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <!--style.css from public folder but should be this format-->
</head>

<body>
  <h1>Hey THIS IS me
  </h1><!--in ejs to dynamic content <%= %> use -->
  <h3>His name is <%= e %> and age is <%= age %>
  </h3>
  <button class="butt">Click</button>
  <p class="para"></p>
  <script src="/js/script.js"></script><!--should be this format that means in ejs we would not write -->
</body>

</html>